<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="./src/style.css" />
    <script>
      function sidebar_open() {
        document.getElementById("sidebar-layout").style.display = "block";
      }

      function sidebar_close() {
        document.getElementById("sidebar-layout").style.display = "none";
      }
    </script>
    <% 
      getAge = function(birthday) {
        var today = new Date();
        var currYear = today.getFullYear();
        var currMonth = (today.getMonth() + 1);
        var currDay = today.getDate();

        if (month < 10) month = '0'+currMonth;
        if (day < 10) day = '0'+currDay;

        var monthDay = currMonth + currDay;
        var birthdayy = birthday.substr(0, 4);
        var birthdaymd = birthday.substr(4, 4);
        var age = monthDay < birthdaymd ? year - birthdayy - 1 : year - birthdayy;

        return age;
      }
    %> 
  </head>

  <body>
    <div id="layout">
      <!-- Sidebar -->
      <div id="sidebar-layout" style="display: none" id="sidebar" class="sidebar-animate-left">
        <button onclick="sidebar_close()" class="button">닫기</button>
        <a href="./" class="button" style="float: right;">Home</a>
        <div>
          <div class="sidebar title">후보자 정보 보기</div>
          <div>
            <div>
              <table class="linktable">
                <tr>
                  <td class="cell">1</td>
                  <td class="second cell"><a href="./PollPlace">내 투표소 찾기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">2</td>
                  <td class="second cell"><a href="./CandInfo">후보자 정보 보기</a><br /></td>
                  <td class="cell"><img src="./src/stamp.png" alt="" style="width:28px;object-fit:cover"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">3</td>
                  <td class="second cell"><a href="./CandProm">후보자 공약 보기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">4</td>
                  <td class="second cell"><a href="./Member">국회의원 찾기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">5</td>
                  <td class="second cell"><a href="./PrevElec">이전 선거 보기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Content -->
      <div>
        <div id="body-content">
          <div id="upper">
            <div id="sidebar-button">
              <button class="button"
                style="font-size: 15pt"
                onclick="sidebar_open()">
                ☰
              </button>
            </div>
            <div class="title">후보자 정보 보기</div>
          </div>
          <hr />
          <div id="content">
            <div id="search-layout">
              <form action="CandInfo_do" method="GET" accept-charset="utf-8">
                <select name="date">
                  <option value="" selected disabled hidden>선택해주세요</option>
                  <% for(var i=0; i < codes.length; i++) {%>
                    <%
                      var data = codes[i].sgId;
                      var year = parseInt(data/10000);
                      var month = parseInt((data%10000)/100);
                      var day = (data%10000)%100
                      var date = year.toString()+'년 '+month.toString()+'월 '+day.toString()+'일'
                    %> 
                    <option name='date' value="<%=data%>"><%=date%></option>
                  <% } %>  
                </select>
                <input type="text" name="elecplace" class="inputarea" placeholder="선거구명">
                <input type="text" name="name" class="inputarea" placeholder="후보자 이름">
                <input type="submit" value="     " class="inputarea search-button">
              </form>
            </div>
            
            <% if (typeof(candList) !== "undefined") {%> 
              <% if (candList.length > 0) {%> 
                <div id="search-result">
                    <%
                        var data = candList[0];
                        
                        var year = parseInt(data.sgId/10000);
                        var month = parseInt((data.sgId%10000)/100);
                        var day = (data.sgId%10000)%100
                        var date = year.toString()+'년 '+month.toString()+'월 '+day.toString()+'일'
                      %>
                  <div id="search-comment"><%=date%> 선거의 해당 후보자</div>
                  <table id="search-table">
                    <tr>
                      <th id="td-5em">기호</th>
                      <th id="td-5em">이름</th>
                      <th id="td-10em">정당</th>
                      <th id="td-5em">성별/나이</th>
                      <th>선거구</th>
                      <th>직업</th>
                      <th>주소</th>
                      <th id="td-5em">등록여부</th>
                    </tr>
                    <% for(var i=0; i < candList.length; i++) {%> 
                    <%
                      var data = candList[i];
                      var sggName = data.sggName;
                      var sdName = data.sdName;
                      var wiwName = data.wiwName;
                      var place = sdName + ' ' + wiwName + ' '+sggName;
                      var giho = data.giho;
                      var partyName = data.partyName;
                      var name = data.name;
                      var gender = data.gender == 0 ? '남' : '여';
                      var address = data.address;
                      var job = data.job;
                      var status = data.status == 0 ? '등록' : data.status == 1 ? '등록무효 또는 사망' : '사퇴';
                      var birthday = data.birthday.substring(0, 10).replace('-','').replace('-','');
                      var age = getAge(birthday);
                    %> 
                    <tr>
                      <td>기호 <%= giho %>번</td>
                      <td><%= name %></td>
                      <td><%= partyName %> </td>
                      <td><%= gender %>,&nbsp;<%= age %>세</td>
                      <td><%= place %></td>
                      <td><%= job %> </td>
                      <td><%= address %> </td>
                      <td>
                        <%if (status != '등록') {%> 
                          <span style="color:red"><%= status %> </span>
                        <% }else{ %> 
                          <%= status %> 
                        <% } %> 
                      </td>
                    </tr>
                    <% } %> 
                  </table>
                </div>
              <% }else { %>
                <div>검색결과가 없습니다.</div>
              <% } %>  
            <% } %> 
            
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
