<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="./src/style.css" />
    <script>
      function sidebar_open() {
        document.getElementById("sidebar-layout").style.display = "block";
      }

      function sidebar_close() {
        document.getElementById("sidebar-layout").style.display = "none";
      }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="./src/readmore.min.js"></script>
  </head>

  <body>
    <div id="layout">
      <!-- Sidebar -->
      <div id="sidebar-layout" style="display: none" id="sidebar" class="sidebar-animate-left">
        <button onclick="sidebar_close()" class="button">닫기</button>
        <a href="./" class="button" style="float: right;">Home</a>
        <div>
          <div class="sidebar title">후보자 공약 보기</div>
          <div>
            <div>
              <table class="linktable">
                <tr>
                  <td class="cell">1</td>
                  <td class="second cell"><a href="./PollPlace">내 투표소 찾기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">2</td>
                  <td class="second cell"><a href="./CandInfo">후보자 정보 보기</a><br /></td>
                  <td class="cell"></td>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">3</td>
                  <td class="second cell"><a href="./CandProm">후보자 공약 보기</a><br /></td>
                  <td class="cell"><img src="./src/stamp.png" alt="" style="width:28px;object-fit:cover"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">4</td>
                  <td class="second cell"><a href="./Member">국회의원 찾기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
              <table class="linktable">
                <tr>
                  <td class="cell">5</td>
                  <td class="second cell"><a href="./PrevElec">이전 선거 보기</a><br /></td>
                  <td class="cell"></td>
                </tr>
              </table><br>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Content -->
      <div>
        <div id="body-content">
          <div id="upper">
            <div id="sidebar-button">
              <button class="button"
                style="font-size: 15pt"
                onclick="sidebar_open()">
                ☰
              </button>
            </div>
            <div class="title">후보자 공약 보기</div>
          </div>
          <hr />
          <div id="content">
            <div id="search-layout">
              <form action="CandProm_do" method="GET" accept-charset="utf-8">
                
                <input type="text" name="name" class="inputarea" placeholder="후보자 이름">
                <input type="text" name="partyName" class="inputarea" placeholder="정당명">
                <input type="submit" value="     " class="inputarea search-button">
              </form>
            </div>
            
            <% if(typeof(promiseList) !== "undefined") {%> 
            <div id="search-result">
              <% if (promiseList.length > 0) {%> 
              <table id="search-table">
                <% 
                  var distname = "";
                  for(var i=0; i < promiseList.length; i++) {
                %> 
              
                <%
                  var data = promiseList[i];
                  var name = data.name;
                  var giho = data.giho;
                  var partyName = data.partyName;
                  var prmTitle = data.prmTitle;
                  var prmCont = data.prmCont.replace(/ /gi, "&nbsp").replace(/\n/gi, "<br>").replace(/□/g, '📰').replace(/○/g, '◾');

                  if (name !== distname) {
                    distname = name;
                %>
                <tr>
                  <th id="prommem" colspan="2">기호&nbsp;<%=giho%>번&nbsp;<%=partyName%>&nbsp;<%=name%>&nbsp;후보의&nbsp;공약</th>
                </tr>
                <% }%>
                <tr>
                  <th><%= prmTitle %> </th>
                  <td class="prmcont" style="text-align: left;"><%-prmCont%></td>
                </tr>
                <% } %> 
              </table>
              <script>
                $(function () { 
                  $('.prmcont').readmore({ 
                    blockCSS: 'display: block; width: 50em; padding:1em 0em 1em 0em', 
                    collapsedHeight: 150, 
                    moreLink: '<a href="#" class="more">더보기</a>', 
                    lessLink: '<a href="#" class="more">닫기</a>' 
                  }); 
                });
              </script>
              <% }else { %>
                <div>검색결과가 없습니다.</div>
              <% } %>  
            </div>
            <% } %> 
            
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
